body{
  background-color: #11151c;
  color: #ddffdd;
}
button#return{
  background-color: black;
  color: white;
  float:right;
  padding: 16px;
  font-size: 16px;
  border: none;
}
button#menu{
  background-color: black;
  color: white;
  float:left;
  padding: 16px;
  font-size: 16px;
  border: none;
}
#hpmenu{
  float: left;
  position: relative;
  display: inline-block;
}
#hpmenu1{
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#hpmenu1 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#hpmenu1 a:hover {background-color: gray;}
#hpmenu:hover #hpmenu1 {display: block;}
#hpmenu:hover button#menu {background-color: black;}
/* Start screen */
#Start {
    display: flex, block;
    background-image: url('https://i.ibb.co/qRTgXrV/fondoinicio.png');
    text-align: center;
    height: 250%;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 6%;
    padding-bottom: 20%;
    padding-left: 15%;
    padding-right: 15%;
}
#Start h1 {
    font-family:'Quattrocento', serif;
    font-weight: bold;
    font-size: 200%;
    letter-spacing: 0.12em;
    color: #CDCFCD;
}
.startLogo{
    width: 60%;
}
#Start p {
    font-family: 'Fanwood Text', serif;
    font-size: 100%;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #DDFFDD;
}
/* Characters screen */
#Characters {
  display: none;
  background-color: #11151C;
  width: 100%;
  height: auto;
  justify-content:center;
}
.logo{
    width: 25%;
  }
#allFilters{
  align-items: center;
}
#sortingHat {
      display: none;
      background-color: #11151C;
      text-align: center;
      padding-top: 8%;
  }
#sortingHat h1{
      font-family: Quattrocento;
      font-style: normal;
      font-weight: bold;
      font-size: 200%;
      letter-spacing: 0.12em;
      color: #CDCFCD;
  }
#sortingHat p{
      font-family: Quattrocento;
      font-style: normal;
      font-weight: bold;
      font-size: 150%;
      letter-spacing: 0.12em;
      color: #CDCFCD;
      padding-top: 5%;
  }
#sortingHat button{
      font-family: Quattrocento;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 31px;
      letter-spacing: 0.12em;
      color: #CDCFCD;
      background-color: #11151C;
      border: none;
      padding-top: 2em;
      padding-left: 2em;
      padding-right: 2em;
  }
.sortingLogo{
      width: 195px;
      height: 223px;
      padding-right: 1em;
      padding-left: 1em;
  }
.sortinBtn{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      flex-direction: column;
  }
#Gryffindor {
  display: none;
  background-color:#7D0E0E;
  image-orientation: center;
  text-align: center;
}
#Slytherin {
  display: none;
  background-color:#113A1A;
  image-orientation: center;
  text-align: center;
}
#Hufflepuff {
  display: none;
  background-color: #BF9119;
  image-orientation: center;
  text-align: center;
}
#Ravenclaw {
  display: none;
  background-color: #272D4D;
  image-orientation: center;
  text-align: center
}
img{
  display:block;
  margin:auto;
}
h1 {
  font-family: 'Quattrocento', serif;
  color:aliceblue;
  text-align:center;
}
p {
  font-family: 'Fanwood Text', serif;
  color: aliceblue;
  text-align:center;
}
/* Character cards */
.harryPhotos{
    width: 166px;
    height: 227px;
}
.characterBox{
    background-color:;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 352px;
    height: auto;
    width: auto;
    padding: 2em;
    font-family: 'Fanwood';
    font-size: 14px;
    color: black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
