body{
    color: #DDFFDD;
    background-color: #11151C;
}
/*Menu de navegación */
.mainMenu{
    position: relative;  
    display: inline-block;  
    float: left;
    flex-wrap: wrap;
}
.menuSymbol{
    height: 2em;
    width: 2em;
}
.mainMenuList{
    display: none; 
    background-color: rgba(17, 21, 28, 0.6);  
    z-index: -1;
    font-family: Quattrocento;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 62px;
    letter-spacing: 0.12em;
    color: #CDCFCD;
}
.mainMenuList a:hover{
    background-color: rgba(125, 78, 87, 0.6);
    font-family: Quattrocento;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 62px;
    letter-spacing: 0.12em;
    color: #CDCFCD;
}
.mainMenu:hover .mainMenuList{
    display: block;
}
.mainMenu:hover .menuSymbol{
    background-color: transparent;
} 

/* Start screen */
#Start {
    display: flex, block;
    background-image: url('https://i.ibb.co/qRTgXrV/fondoinicio.png');
    text-align: center;
    height: 150%;
    min-height: 1024px;
}
#Start h1 {
    font-family:'Quattrocento', serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 0px;
    letter-spacing: 0.12em;
    color: #CDCFCD;
}
.startLogo{
    width: 516px;
}
#Start p {
    font-family: 'Fanwood Text', serif;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.12em;
    padding-left: 14em;
    padding-right: 14em;
}  
#Start button{
    background: #57A879;
    color: #CDCFCD;
    font-family: Quattrocento;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.12em;
    border-color: #57A879;
    border: none;
    border-radius: 8em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}
#Start button:hover{
    background:  rgba(125, 78, 87, 0.6);
}

/* Sorting Hat */
#sortingHat {
    display: flex, none;
    background-color: #11151C;
    text-align: center;
}
#sortingHat h1{
    font-family: Quattrocento;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 0.12em;
    color: #CDCFCD;
}
#sortingHat p{
    font-family: Quattrocento;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 0.12em;    
    color: #CDCFCD;
    padding-top: 4em;
}
#sortingHat button{
    font-family: Quattrocento;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.12em;
    color: #CDCFCD;
    background-color: #11151C;
    border: none;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}
.sortingLogo{
    width: 195px;
    height: 223px;
    padding-right: 1em;
    padding-left: 1em;
}
.sortinBtn{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; */
}

/* Filter menu */
.filterMenu{
    display: flex;
    justify-content: center;

}
input{
      background-color: #C4C4C4;
      font-family:'Quattrocento', serif;
      letter-spacing: .2em;
      color: rgb(187, 153, 153);
      width: auto;
      min-width: 160px;
      padding-left: 1em;
}
select{
      font-family: Quattrocento;
      font-style: normal;
      font-weight: bold;
      line-height: 29px;
      letter-spacing: 0.12em;
      color: #CDCFCD;
      background-color: transparent;
      border:none;
      padding-left: 1em;
}
select:hover{
      background-color: rgba(125, 78, 87, 0.7);
      opacity: .8;
}
/* Characters screen */
#Characters {
    display: flex, none;
    background-color: #11151C;
    width: 100%;
    height: auto;
    justify-content: center;
}
.logo{
    width: 25%;
    /*height: 7em;*/
    padding: 2em;
    align-items: center;
}
#Gryffindor {
    display: none;
    background-color:#7D0E0E;
    image-orientation: center;
    text-align: center;
}
#Slytherin {
    display: none;
    background-color:#113A1A;
    image-orientation: center;
    text-align: center;
}
#Hufflepuff {
    display: none;
    background-color: #BF9119;
    image-orientation: center;
    text-align: center;
}
#Ravenclaw {
    display: none;
    background-color: #272D4D;
    image-orientation: center;
    text-align: center;
}

/* Character cards */
.harryPhotos{
    width:80%;
}

#potterCards h1{
    font-family: 'Quattrocento', serif;
    letter-spacing: .4em;
    font-size: 18px;
    color: purple;
    text-align: center;
}
#potterCards{
    height: auto;
    width: auto;
    padding: 2em;
    font-family: 'Fanwood';
    font-size: 14px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.characterBox{
    background-color: white;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    /*padding-bottom: 1em;*/
    max-width: 30%;
    min-width: 10%;
}
